.services {
    margin-bottom: 30px;

    .services__top__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .services__top__item {
            display: flex;
            width: 100%;
            // max-width: 320px;
            justify-content: space-between;
            align-items: center;
            margin: 10px;

            &:nth-child(1) {
                max-width: 170px;
            }

            &:nth-child(2) {
                max-width: 270px;
            }

            &:nth-child(3) {
                max-width: 280px;
            }

            &:nth-child(4) {
                max-width: 220px; 
            }
        }

        .services__item__title {
            display: block;
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 20px;
            font-weight: 400;
            color: #332f2c;
        }

        .services__item__info {
            display: block;
            margin: 0;
            padding: 0;
            color: #8d9396;
        }
    }

    .services__bottom__list {
        display: flex;
        width: 100%;
        max-width: 1400px;
        justify-content: space-between;
        flex-wrap: wrap;

        .services__bottom__item {
            display: block;
            width: 100%;
            max-width: 400px;
            margin: 10px;
        }
    }

    @media only screen and (max-width: 720px) {
        .services__top__list {
            flex-direction: column;
            margin: 0 auto;
        }
    }
}
